<section id="experiencia" class="w-full px-4 py-10">
	<div class="mx-auto max-w-7xl">
		<h2 class="text-3xl font-bold text-center mb-10 text-blue-500">
			Experiência Profissional
		</h2>

		<div class="">
			@for (experience of experiences(); track experience.id) {

			<mat-card
				appearance="outlined"
				class="w-full max-w-sm min-h-[600px] flex flex-col justify-between rounded-2xl shadow-lg hover:shadow-2xl transition-transform hover:scale-[1.01] bg-white dark:bg-gray-800"
			>
				<img
					mat-card-image
					[src]="experience.imgSrc"
					[alt]="experience.name + ' imagem'"
					class="h-80 object-cover w-full"
				/>

				<mat-card-header>
					<mat-card-title class="text-lg font-semibold">{{
						experience.name
					}}</mat-card-title>
				</mat-card-header>

				<mat-card-content class="px-4 pb-4">
					<pre
						class="whitespace-pre-wrap break-words text-sm text-gray-700 dark:text-gray-300"
						>{{ experience.bio }}
					</pre
					>
				</mat-card-content>

				<div class="px-4 mt-2">
					<img
						[src]="experience.tech"
						[alt]="experience.name + ' stack'"
						class="w-full h-8 object-contain"
						loading="lazy"
					/>
				</div>

				<!-- Botões de ação -->
				<mat-card-actions align="end" class="px-4 pb-4">
					@if (experience.deployLink) {
					<a
						class="customBtn"
						matFab
						extended
						[href]="experience.deployLink"
						target="_blank"
					>
						<mat-icon>link</mat-icon>
						Page
					</a>
					}
				</mat-card-actions>
			</mat-card>

			}
		</div>
	</div>
</section>
