<section id="projetos" class="w-full scroll-mt-20 px-4 py-10">
	<div class="mx-auto max-w-7xl">
		<h2
			data-testid="heading2-projectsComponent"
			class="text-3xl font-bold text-center mb-10 text-blue-500"
		>
			Meus Projetos
		</h2>

		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
			@for (project of projects(); track project.id) {

			<mat-card
				appearance="outlined"
				class="w-full max-w-sm min-h-[600px] flex flex-col justify-between rounded-2xl shadow-lg hover:shadow-2xl transition-transform hover:scale-[1.01] bg-white dark:bg-gray-800"
			>
				<img
					mat-card-image
					[src]="project.imgSrc"
					[alt]="project.name + ' imagem'"
					class="h-80 object-cover w-full"
				/>

				<mat-card-header>
					<mat-card-title class="text-lg font-semibold">{{
						project.name
					}}</mat-card-title>
				</mat-card-header>

				<mat-card-content class="px-4 pb-4">
					<pre
						class="whitespace-pre-wrap break-words text-sm text-gray-700 dark:text-gray-300"
						>{{ project.bio }}
					</pre
					>
				</mat-card-content>

				<div class="px-4 mt-2">
					<img
						[src]="project.tech"
						[alt]="project.name + ' stack'"
						class="w-full h-8 object-contain"
						loading="lazy"
					/>
				</div>

				<!-- Botões de ação -->
					<mat-card-actions align="end">
					<div class="flex flex-col sm:flex-row gap-3 w-full">
						<a
							matFab
							extended
							class="customBtn"
							[routerLink]="['/repo', project.repoLink.split('/').pop()]"
						>
							<span class="flex items-center gap-2">
								<mat-icon>info</mat-icon>
								Detalhes
							</span>
						</a>
						<a
							matFab
							extended
							class="customBtn"
							[href]="project.repoLink"
							target="_blank"
						>
							<span class="flex items-center gap-2">
								<app-icon name="github" />
								Github
							</span>
						</a>
						@if (project.deployLink) {
						<a
							class="customBtn"
							matFab
							extended
							[href]="project.deployLink"
							target="_blank"
						>
							<mat-icon>link</mat-icon>
							Page
						</a>
						}
					</div>
				</mat-card-actions>
			</mat-card>

			}
		</div>
	</div>
</section>
